<div ng-show="messageSuccess" class="alert alert-success" role="alert" translate="FLASHBAND.MESSAGE.SUCCESS" translate-values="{totalFlashbands: totFlashbands, plural: (totFlashbands > 1 ? 's' : '')}"></div>

<h1 translate="FLASHBAND.ENABLE.TITLE"></h1>

<p ng-hide="totFlashbands" translate="FLASHBAND.ENABLE.TEXT"></p>
<p ng-show="totFlashbands" translate="FLASHBAND.MESSAGE.TOTAL" translate-values="{totalFlashbands: totFlashbands, plural: (totFlashbands > 1 ? 's' : '')}"></p>

<p>
  <a class="btn btn-success" ui-sref="upload-flashbands" role="button" translate="FLASHBAND.ENABLE.BUTTON"></a>
</p>
